<!DOCTYPE html>
<html xml:th="http://thymeleaf.org"
      xml:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
        <title>ProjectFaculApp</title>
</head>
<body>


        <h1>Cadastro de Clientes</h1>
        <form method = "post">
            Nome: <input type="text" value="" name="nome"/>
            Endereço: <input type="text" value="" name="endereco"/>
            Cpf: <input type="text" value="" name="cpf"/>

            <button class="waves-effect waves-light btn" type="submit">Salvar</button>


</form>
</body>
</html>
